[2019-05-05 14:09] daipayans opened #1 "Passwordless login to Bridges"
Hello,
I am trying to setup gsissh for passwordless login to bridges. The inststructions provided in the README and what I have found online is based for Ubuntu systems.

As I don't have a Ubuntu system, I have attempted installing gsissh in two other operating systems, Centos 7 and macOS Sierra v 10.12.6. However, I have not been succeful towards this effort.

Prior steps worked fine. The entk-ve

[2019-05-05 14:14] mturilli commented on #1
Hi Daipayan, we will need more details about the problem(s) you encountered when installing gsissh. I would recommend to use Centos 7, if that is the only available Linux distribution. Did you try to install the `gsi-openssh-clients` rpm package?

[2019-05-05 14:42] mturilli commented on #1
From your email outside this ticket:

Can you give me the fqdn/ip of that machine?

I need more details about the problem(s) you encountered.

ssh on bridges works only with XSEDE for DUO Multi-Factor Authentication (MFA). MFA cannot be automated and therefore used by RCT in your place.

[2019-07-29 17:56] lee212 opened #2 "Support for First Successful Run of EnTK"
This effort is to make sure ASU team is able to successfully complete examples of EnTK scripts and start writing a simple workflow.

For the bookkeeping:
- 7/30/19 Call for following up with other technical issues
- 7/6/19 Slack [channel](https://join.slack.com/t/mdff-error/shared_invite/enQtNjg2MTExNDE0MzA4LWM1YzNiZDY5MzA0YzEwZWFlZjExNWZjZmMzMmU4Y2U1OGJjMGEwZThkNjg4NjA5NGJhYTlhYTdlYzdmYWNiODY) cr

[2019-07-29 17:57] lee212 commented on #1
This can be closed, I suppose. @daipayans ?

[2019-08-13 00:22] lee212 commented on #2
MDFF example with NAMD will be implemented by EnTK. Possible example is like: https://www.ks.uiuc.edu/Training/Tutorials/science/mdff/tutorial_mdff-html/node4.html

[2019-08-13 00:24] lee212 commented on #2
First MDFF try is completed: https://docs.google.com/document/d/1VubEmw-D_CTt0sBtFCoiE9uuS9LxipwjbSn1v13fjZ8/edit?usp=sharing

EnTK with this example can be exercised soon.

[2019-08-28 13:39] lee212 opened #3 "Status update and next steps"
8/29/19 4PM - meeting for
- Current status
  - EnTK on Bridges Tested
- Simple MDFF (possibly ReMDFF)
  - In Progress
  - TCL or Python scripts
- Summit migration
 - environment setup
 - scalability

[2019-08-28 14:59] lee212 commented on #3
https://docs.google.com/presentation/d/1NBGQ0lUFiFK0OlcWs4IK5RWv2xQ0OnBezvi6vxc7OoI/edit?usp=sharing

[2019-08-29 14:01] shantenujha commented on #3
@lee212 -- thanks. please update the slides linked above to reflect the slides sent around yesterday.

Also, if you can provide updates on performance / scale that would be good.

[2019-08-29 18:06] lee212 commented on #3
The slides have been updated including recent changes.

Daipayan said the system for simple MDFF is using 1 CPU, which is too small to represent with performance/scale but probably ReMDFF have a system big enough to show benchmark results at scale. Maybe we can discuss this during the call?

[2019-09-04 14:51] daipayans opened #4 "EnTK and NAMD integration for simple MDFF"
@lee212 Thanks, for the EnTK protocol (https://github.com/radical-collaboration/MDFF-Error/blob/master/namd.py). Prior to submitting this job in bridges, I have the following questions:

Q1. Do I use the same details (from the OpenMM example) for the MongoDB and Rabbitmq server's url?

Q2. Please help me understand line 39 of the script. For the simulation part we are performing simple mdff. Howev

[2019-09-05 15:52] lee212 commented on #4
Hi Daipayan,

Please see my answers below:

Q1. Yes, we do keep using the same environment, no changes on mongodb and rabbitMQ.

Q2. It's a label to the stage, I re-used the openmm template but with `namd` executable for the demonstration purpose. I can put a correct name to avoid confusions but thank you for pointing out that with the explanation. I agree we need to have better description in the

[2019-09-06 05:10] daipayans commented on #4
@lee212 Thanks. We can use the following command by sourcing VMD (command line version):
mdff check -ccc -map 4ake-target_autopsf.dx -res 5

This command will plot the CCC between each MDFF trajectory frame and the target map.

[2019-09-11 07:28] daipayans commented on #4
Hi @lee212 : Did you get a chance to implement the command shared earlier in thread to calculate the ccc for the analysis stage in the revised EnTK protocol for integration with namd? Please let me know if you have any questions. Thank you.

[2019-09-12 19:57] lee212 commented on #4
Hi @daipayans ,

My test run for Simple MDFF is written here: https://github.com/radical-collaboration/MDFF-Error/blob/master/simple_mdff.py

You can find [the mdff command](https://github.com/radical-collaboration/MDFF-Error/blob/master/simple_mdff.py#L206) that you were referring at the very last stage, as it was described in 'Calculating the cross-correlation coefficient' from the example.

Sim

[2019-11-13 16:20] daipayans commented on #4
Hi @lee212, As I mentioned to you we don't see any NAMD trajectory files (filetype *.dcd) after executing the entk-namd protocol for MDFF with the minor modifications to the simple_mdff python script (i.e.  loading modules for individual tasks).

[2019-11-23 01:34] benjha opened #7 "Is third stage following the 2019 "A simple MDFF example" ?"
@lee212 @daipayans

Inspecting the ``` Simple MDFF using EnTK.ipynb ``` file, I noted ```third_stage.tcl``` does not correspond to "Rigid-body docking the structure into the density map" from:

[https://www.ks.uiuc.edu/Training/Tutorials/science/mdff/tutorial_mdff-html/](url)

Are you following the 2019 "A simple MDFF example" ?

Anyway, when following the example on SUMMIT and Mac (Mac binaries d

[2019-11-25 21:47] lee212 commented on #7
This is tested on XSEDE Bridges (vmd 1.9.2), so I would say tcl files are working. I will try to replicate `malloc` issue on my side.

[2019-11-25 22:34] lee212 commented on #7
FYI, `voltool` was introduced from 1.9.4 alpha (July 2019) according to here: https://www.ks.uiuc.edu/Research/vmd/vmd-new/devel.html

[2019-11-26 00:51] benjha commented on #7
```Simple MDFF using EnTK.ipynb``` is based on 2009 Simple MDFF example:

[http://scc.acad.bg/ncsa/downloads/programs/NAMD/Tutorial_Molecular%20Dynamics%20%20Flexible%20Fitting.pdf](url)

Thus older VMD is needed.

[2019-11-26 00:58] #7 closed, assigned to nobody

[2019-11-26 01:11] benjha commented on #4
The simple MDFF example used here is based on 2009 version, thus voltool and VMD 1.9.4  is not needed, see

https://github.com/radical-collaboration/MDFF-Error/issues/7

for more details.

[2019-11-26 02:32] daipayans commented on #7
@benjha @lee212 yes, voltool is a new feature added to VMD 1.9.4 (alpha) as I mentioned during our call. The 1.9.4 version as of today from the VMD  download website (UIUC) remains a test version. Until, full release I recommend using 1.9.3. XSEDE resource Bridges has 1.9.2 installed as a module.

[2019-12-12 21:52] lee212 opened #8 "Plan for NAMD and EnTK"
- [ ] Integrating new system(s) with EnTK
- [ ] Scaling summit to 1024 nodes
- [x] Testing VMD from client

[2020-02-05 17:24] benjha opened #9 "EnTK hangs on Summit for MDFF"
Hi @lee212

How fast the simple mddf sample should run with enTK ?

I waited like 30 min. in the first task when decided to kill the job:

[code]

Could you take a look to the code:

[code]
and the installation:
[code]
to make sure everything is correct ?

To activate the environment:
[code]
There is also another test, based on an enTK example, that got till the end of the workflow:
[code]

Thanks

[2020-02-05 20:52] lee212 commented on #9
Hi Ben,

Thank you for reporting this.

The numbers of cpu cores allocated to simulation tasks should be smaller than requested cpu cores, more specifically, the dict for workflow would work:
[code]
if you reduce 168 to 160 at the line 21 of your `mdff.py` script. Could you give it a try?

[2020-02-19 17:50] #3 closed, assigned to nobody

[2020-02-19 17:52] #2 closed, assigned to nobody

[2020-02-19 17:52] #1 closed, assigned to nobody

[2020-02-21 16:24] lee212 commented on #9
@benjha , do you need support on this trial? I know that we've exchanged email messages w.r.t. this test run on Summit. I myself tried the simple MDFF with your NAMD/VMD installation which seemed working fine. BTW, I am just starting to work on the Conda package for EnTK on PPC machines. I will create a separate ticket for Conda support.

[2020-02-21 17:02] benjha commented on #9
Hi @lee212,

Your suggestion partially fix the problem. The next hang occurred when trying to wget the pdb files. Compute nodes have no access to the external world.

So I needed to download the pdb files manually in the same directory  ```mdff.py``` lives and remove the wget tasks from the script. After that, the execution  worked, but some tasks failed (this output is similar than the one you po

[2020-02-21 17:25] benjha commented on #9
I re-run again the script WITH wget and didn't hang this time, but still some tasks' state is FAILED

[2020-02-21 20:00] lee212 commented on #9
Thanks for the quick update! I will need to look at your script to see why it's failed, which I believe it is `/gpfs/alpine/world-shared/bip115/enTK_tests/mdff/mdff.py`. I have my version but it is a same simple mdff that is located at https://github.com/radical-collaboration/MDFF-Error/blob/master/simple_mdff.summit.py. Do you mind to try this one?

[2020-02-21 20:02] lee212 commented on #9
My run completed with one error that I've seen NAMD library loading error: `/gpfs/alpine/world-shared/bip115/NAMD_binaries/summit/NAMD_build.latest/Linux-POWER-MPI-smp-Summit/namd2: error while loading shared libraries: libfftw3f.so.3: cannot open shared object file: No such file or directory`. Do you know which module did I forget to load prior to namd on Summit?

[2020-02-21 21:57] benjha commented on #9
it should be     ```fftw/3.3.8```

[code]

[2020-02-24 20:11] lee212 opened #10 "TCL scripts verification for VMD with EnTK on HPC"
The following items will be verified
- [x] vmd module load, instead of local installation (only on XSEDE Bridges)
- [x] specific vmd parameter options `-dispdev text -e`
- [x] code walkthrough confirming TCL scripts and its behavior, e.g. initial correct pdb without missing it between stages
- [x] simulation only, analysis stages are suppressed
- [x] updates on tcl script in EnTK pipelines

These

[2020-02-25 17:00] lee212 commented on #10
[namd.stdout.txt](https://github.com/radical-collaboration/MDFF-Error/files/4251127/namd.stdout.txt)

[2020-02-25 19:28] lee212 commented on #10
[vmd.analysis.stdout.txt](https://github.com/radical-collaboration/MDFF-Error/files/4251757/vmd.analysis.stdout.txt)
[eighth_stage.tcl.txt](https://github.com/radical-collaboration/MDFF-Error/files/4251758/eighth_stage.tcl.txt)

Failed analysis after namd completion

The last stage contains:
[code]

[2020-02-25 21:30] lee212 commented on #10
[vmd.analysis.stdout.8th.txt](https://github.com/radical-collaboration/MDFF-Error/files/4252284/vmd.analysis.stdout.8th.txt)
[vmd.analysis.stdout.9th.txt](https://github.com/radical-collaboration/MDFF-Error/files/4252285/vmd.analysis.stdout.9th.txt)

[2020-02-25 21:52] daipayans commented on #10
@lee212 NAMD is running fine...so simulation stage is now working. i have to check the analysis looks like it's running but the output should be different. NAMD-Entk protocol (simulation -> analysis) one cycle seems to be working.

Accuracy of result depends on further refinement.

[2020-03-05 15:34] lee212 opened #11 "Update on NAMD-EnTK pipeline; no `mdff check` in analysis, and N times simulation"
- [x] removing mdff check at analysis
- [ ] denoting N times simulation e.g. 4, 8, 16, 32, 64, ...

[2020-03-05 20:22] benjha opened #12 "Adding Nodes to resource configuration file"
Q:

Does an argument exist to specify the number of nodes in

https://github.com/radical-collaboration/MDFF-Error/blob/master/simple_mdff_cfg.yml

?

A:

It does not have argument for node counts but cpu counts. The file you pointed out contains resource at a task level which is bounded by the resource description for a job scheduler, e.g. slurm and lsf. See the another file below. Both uses CPU c

[2020-03-13 16:13] benjha commented on #11
Hi @lee212

any progress in these tasks ?

[2020-03-13 16:44] daipayans commented on #11
Hi @benjha @lee212,
For task 1 (mdff check analysis), we can simply ignore

[2020-03-13 16:45] daipayans commented on #11
Hi @benjha @lee212,
task 1 is independent of task2 , so the 5 times run should work regardless.

[2020-03-13 17:29] daipayans commented on #11
Hi @lee212 @benjha  : made changes to simple_mdff.py. Removed all instances of 'mdff check' command.

@lee212 : Please repeat the run that we did earlier on XSEDE Bridges and then we can peform task 2 (running N=5 times). Let me know if there are any issues.

[2020-03-13 19:23] lee212 commented on #11
@daipayans, thanks for the change. I submitted the job to the XSEDE Bridges.
[code]
I will increase N once I have the first result.

@benjha , I am about to make a copy of the Daipayans version for Summit, would you like to run it? I will push the copy asap.

[2020-03-13 19:47] benjha commented on #11
@lee212  Yes,  Summit's have been too busy these two weeks but we can give a try

[2020-03-16 14:32] benjha commented on #11
@lee212

Can you push the Summit's version ? Thanks,

[2020-03-16 23:03] daipayans commented on #11
@lee212 is there something we can do here barring the submission scripts for summit? let me know.

[2020-03-17 19:59] lee212 commented on #9
It indeed solves my error, I added this module load to the entk script.

Thanks!

[2020-03-17 19:59] lee212 commented on #11
@benjha, I pushed the summit version here: https://github.com/radical-collaboration/MDFF-Error/blob/master/simple_mdff.summit.py. It contains `module load fftw` and the recent changes that Daipayan made to the analysis steps.

@daipayans , I pushed output files from Bridges to here: https://github.com/radical-collaboration/MDFF-Error/tree/master/experiments/bridges/simple_mdff_1st, including the l

[2020-03-18 15:51] lee212 commented on #10
TODO items are completed, I think this can be closed.

[2020-03-19 20:22] daipayans commented on #11
@lee212 I checked the STDOUT for tenth stage and there is an issue. The EnTK task is asking vmd to load the incorrect file (for instance check stdout for "/usr/tmp/mdff_sim8071626726571297.dx" instead of "4ake-target_autopsf-grid.dx" which is generated in the second stage. There are many such instances when you check the stdout for this stage.

As the griddx file is incorrect it cannot calculate t

[2020-03-20 15:46] lee212 commented on #11
@daipayans , I manually tested tcl script with VMD and the temporal file name seems correct, and it is likely generated as a copy of the `4ake-target_autopsf-grid.dx`. See my interactive shell here:
[code]
I believe this is normal behavior and I assume the griddx file is loaded correctly. Can you confirm?

[2020-03-20 20:02] daipayans commented on #11
@lee212 thanks for looking into this in detail. I will review the individual files at my end over this weekend. The issue is the generation of '-nan', which is occuring because the structure is not docked inside the density. Also, the root mean squared deviation (rmsd) value is very poor (which is another indication). This happens because the rigid docking step was commented/ removed.

There are s

[2020-04-01 16:56] mturilli commented on #12
I am not sure what this ticket is about. Should we add this information to our documentation? What the answer satisfactory? Was the yml file updated and is it usable?

[2020-04-01 16:57] #10 closed, assigned to nobody

[2020-04-01 16:58] lee212 commented on #9
@benjha , Do you think you can confirm this resolves and runs fine also?

[2020-04-01 17:01] lee212 commented on #8
@lee212, check with Abhishek for first item.

[2020-04-01 17:03] lee212 commented on #8
Testing VMS from client is complete by #10

[2020-04-01 17:04] lee212 commented on #4
@daipayans , this can be closed as we confirmed it is working on bridges, can you confirm?

[2020-04-03 16:34] benjha commented on #12
@mturilli  Yes, please, add it to the documentation.

@lee212 if 168  CPUs is equivalent to 1 node, thus smt4 flag is enabled somewhere, right ? I am wondering what about  OMP_NUM_THREADS, is it also set?

For example:

https://jsrunvisualizer.olcf.ornl.gov/?s4f1o14n1c1g0r11d1b21l0=

[2020-04-03 16:40] benjha commented on #9
Yes, that version worked well.

[2020-04-03 16:46] lee212 commented on #9
I'll close this now and feel free to re-open/add comments anytime.

[2020-04-03 16:46] #9 closed, assigned to nobody

[2020-04-03 16:53] benjha commented on #12
I noted there is a pre_exec label in workflow configuration file to export env. variables

[2020-04-03 17:05] lee212 commented on #12
smt4 is default according to here: https://github.com/radical-cybertools/radical.saga/blob/db772b9feac2405de151490d22f8539ee4056ee9/src/radical/saga/adaptors/lsf/lsfjob.py#L38

`OMP_NUM_THREADS` is defined by a user in the entk Task level, e.g.: https://github.com/radical-collaboration/MDFF-Error/blob/736ebea7ade65705dc62f7a2bb84ddc49c73bb77/simple_mdff.summit.py#L74

Generally, we see `4` on both

[2020-04-03 17:10] lee212 commented on #12
Yes, `pre_exec` is a special variable to run a list of commands prior to the main executable, in this case, NAMD for simulation. As you can see, you do `export` and `cp/mv/cd` as some of the preparation using the `pre_exec`.

[2020-04-03 17:40] benjha commented on #11
Hi @daipayans @lee212 This is the output I got from running ```simple_mdf.summit.py``` script  on Summit. Note tasks 6 to 9 failed.

[code]

Feel free to consult outputs in

[code]

[2020-04-03 18:32] lee212 commented on #11
@benjha , thanks for the report. I will try to replicate and check out the directory you pointed. Could you also make a copy of the sandbox of this run? by:
[code]

[2020-04-03 19:24] benjha commented on #11
@lee212  Sandbox ready

[2020-04-03 20:11] lee212 commented on #11
@benjha , the job was failed from stage 6 because there is a missing input file which is dependent from previous stage, the file name expected was `par_all27_prot_lipid_na .inp` but received `par_all36_prot.prm`, I echo the exact line here:
https://github.com/radical-collaboration/MDFF-Error/blob/736ebea7ade65705dc62f7a2bb84ddc49c73bb77/simple_mdff.summit.py#L220

@daipayans , I would simply repla

[2020-04-08 15:51] lee212 commented on #12
README has been updated to explain how to specify the number of nodes in the yaml file. see here: https://github.com/radical-collaboration/MDFF-Error#faq
This can be included to the main doc later, https://radicalentk.readthedocs.io/

Is this resolved and can be closed?

[2020-04-08 15:58] lee212 commented on #11
@daipayans , ping

[2020-04-08 15:59] lee212 commented on #4
@daipayans , I will close this, for now, feel free to re-open anytime if necessary.

[2020-04-08 15:59] #4 closed, assigned to nobody

[2020-04-08 17:44] daipayans commented on #11
@benjha @lee212 apologies for late response.

@benjha "par_all27_prot_lipid_na .inp but received par_all36_prot.prm". Good point and this is important for everyone. If you are using the latest build of VMD it will be the latest version of the CHARMM forcefield,  **par_all36_prot.prm**. Initially, @lee212 used the input files that are distributed with the simple MDFF tutorial which has not been upd

[2020-04-08 17:59] benjha commented on #11
@daipayans  For Summit the team decided to use VMD 1.9.3 because of the voltool  problem in 1.9.4 beta

So, ```simple_mdf.summit.py``` should use par_all27_prot_lipid_na.inp ?

[2020-04-08 19:05] daipayans commented on #11
@benjha I recommend updating **par_all27_prot_lipid_na .inp** to **par_all36_prot.prm** in the simple_mdff.summit.py script.

[2020-04-08 22:22] benjha commented on #11
@lee212 With the filename update,  par_all36_prot.prm does exist in unit.00005 and unit.00006, but now unit.00006 fails with the next std output

[code]

and std error

[code]
Somehow  enTK sets 6440 SMP threads for unit.00006

The sandbox of this execution is in

[code]

To fix the problem, line 209 from ```simple_mdff.summit.py```  should be

[code]
instead of

[code]

[2020-04-08 23:06] benjha commented on #11
@daipayans @lee212  The script is now running on Summit. We are ready to start the second task of this ticket.

The working version of ```simple_mdff.summit.py```  can be found in

/gpfs/alpine/world-shared/bip115/enTK_tests/mdff_hyungro/3April2020/simple_mdff.summit.py

Please, update  the repo. accordingly

[2020-04-08 23:37] benjha commented on #12
Yes, thanks

[2020-04-08 23:44] daipayans commented on #11
@benjha Sounds good! The error you posted earlier is related to how the NAMD module is build on  Summit. But I assume that it has been fixed now.

[2020-04-09 18:45] benjha opened #13 "Instructions to launch the MDFF workflow for project BIP115 on Summit"
@daipayans

Instructions for BIP115 project on Summit:

1. Go to ```/gpfs/alpine/world-shared/bip115``` directory

2. Activate enTK's python environment:

```$source ./activate_radical_env.sh```

3.  Go to ```/gpfs/alpine/world-shared/bip115/enTK_tests/mdff``` and launch the script:

```(radical_tools_python)$ python simple_mdff.summit.py --resource ornl_summit```

[2020-04-09 20:25] daipayans commented on #13
@benjha Many thanks! Will test over the weekend.

[2020-04-15 14:48] lee212 commented on #13
@daipayans , just checking in if there is an issue on this. BTW, do you have an account on Summit and allocation? I am not certain if you can launch without it.

[2020-04-15 14:48] #12 closed, assigned to nobody

[2020-04-15 14:57] lee212 commented on #11
@benjha , Thanks for the comment on `ppn` counts. I updated the repo with the change. One question, how do I assign `N` cores to the namd with jsrun? If it is similar to mpirun then I would specify N numbers like `jsrun -np N namd +ppn 4 adk-step1.namd` and, for 1 node, N would be 42 on summit. If I miss something?

[2020-04-15 21:40] benjha commented on #11
Hi @lee212,

jsrun is not similar to mpirun, and regular jsrun is different to jsrun using erf files . Let's see an example:

Let NODES be 64 then this call will allocate 32 tasks across 64 nodes using mpirun (note Summit nodes has 2 sockets):

mpirun  -n $(($NODES*32)) --npersocket 16 --bind-to core

which is equivalent to:

jsrun --nrs $(($NODES*2)) --rs_per_host 2 --tasks_per_rs 16 --cpu_per_rs

[2020-04-22 16:40] lee212 commented on #13
@daipayans , just checking in to see if you have a test run on Summit. I am also trying to have a scaling test on my end as well.

[2020-04-29 15:46] lee212 opened #14 "merging two script into one, simple_mdff.py"
This is a cleanup and a brief explanation is that `simple_mdff.summit.py` has been used to have customized changes specific to Summit but it can be merged now as the test run was successful on Summit.

[2020-04-29 15:50] lee212 opened #15 "Taking node counts as a parameter on command line like `python simple_mdff.py --nodes 2`"
This might be convenient for a scaling test and if a user specifies the number of nodes to start a job, it will override the defined value in the `resource_cfg.yml`

[2020-04-29 15:56] lee212 commented on #11
Thanks @benjha , this is great. Now I have a better understanding of `jsrun` with NAMD. I made a commit with your updated script so the script will have `+ppn 4` as the `erf` file defines 4 threads per rank.

I am submitting a couple of test runs with 4,8, 16 nodes...

[2020-04-29 16:40] mturilli commented on #13
@daipayans, @benjha any news about this ticket? If we do not hear from you I am afraid we will have to close this ticket.

[2020-04-29 16:57] benjha commented on #13
Hi @mturilli
These instructions does work. We are waiting Daipayan to verify if the output of the workflow is correct. If it isn't we could open another ticket.

[2020-05-06 16:37] mturilli commented on #13
Thanks, I will close this then.

[2020-05-06 16:37] #13 closed, assigned to nobody

[2020-05-25 21:57] lee212 opened #16 "stop/start feature"
It shows an ability to choose a session to resume the workflow.

[2020-05-25 21:59] lee212 opened #17 "Release plan for different user groups"
User groups
- Internal
- NAMD community
- INCITE

[2020-05-25 22:05] lee212 opened #18 "New stage for selective criteria"

[2020-05-25 22:06] lee212 opened #19 "Scaling Performance at large pipeline runs"

[2020-06-01 20:10] benjha commented on #19
## Performance Evaluation Plan

The performance evaluation plan will consist on verifying the behavior of MDFF-EnTK workflow on Summit. It will include performance evaluation at application level and at Radical Tools level.

Current workflow execute NAMD and VMD in the same node.

### Application Level

#### General Approach

Calculate baseline timings with the current resource allocation used for

[2020-06-04 11:05] shantenujha commented on #19
@benjha  -- Thanks. This looks good to me as well designed first pass.

[2020-06-10 16:40] lee212 commented on #19
@benjha , the profiling purpose, the link is fine but the rendered one you can find here: https://radicalentk.readthedocs.io/en/latest/user_guide/profiling.html
Let us know if you need further information using radical.analytics. and also about EnTK.

[2020-06-10 16:43] lee212 commented on #18
@daipayans and Abhishek, if you need any assist from a workflow perspective, let us know.

[2020-06-10 16:43] lee212 commented on #18
BTW, what is Abhishek's github id, if you know @daipayans

[2020-06-10 16:57] lee212 commented on #11
We completed simulations with 5 replica, the experiment result https://github.com/radical-collaboration/MDFF-EnTK/tree/master/experiments/summit/simple_mdff_final_5_replica may provide results at this moment. I declare the goals of this ticket are complete and I propose to close this.

[2020-06-10 16:57] #11 closed, assigned to lee212

[2020-06-19 16:59] benjha commented on #19
### Application level performance evaluation results

Current baseline is based on default resources assigned to the workflow. For simulation (NAMD), 40 MPI process with 4 threads each are requested. For analysis, 1 MPI process with 4 threads.

MDFF-EnTK workflow was executed five times and reported runtime results averaged. Runtimes were obtained from NAMD's WallTime report; for VMD, Linux's `tim

[2020-06-24 17:11] mturilli commented on #15
Discussing whether this could be done by parsing the arguments in `simple_mdff.py` (e.g., using argparse). The idea is that this is an application choice, in this case `simple_mdff.py`. If the number of argument to parse is limited, an efficient way is to use `sys.argv` and a positional approach to command arguments.

[2020-07-08 17:04] lee212 commented on #14
https://github.com/radical-collaboration/MDFF-EnTK/blob/master/simple_mdff.py is the main script we are going to use from now.

[2020-07-08 17:10] lee212 commented on #15
@benjha, This has been updated and you may want to try in your terminal. Let us know if it shows different behavior than what you expected.

[2020-07-08 17:17] lee212 commented on #16
@daipayans and @Singharoy, I will be working on this. this is the feature that we discussed in the last meeting. Let me know if there is a specific needs/idea to have this feature.

[2020-07-29 17:34] lee212 commented on #15
@benjha, I will close this for now but welcome to re-open if you don't see this is working.

[2020-07-29 17:34] #15 closed, assigned to lee212

[2020-07-29 17:35] lee212 commented on #14
I am closing this now as it is implemented.

[2020-07-29 17:35] #14 closed, assigned to lee212

[2020-08-11 16:21] lee212 opened #20 "Performance characterization with session profiling data"
Here is a quick guide on how to collect profiling data for further analysis. EnTK is equipped with [radical.analytics](https://github.com/radical-cybertools/radical.analytics/) to measure performance data and it is enabled by:

Set env variables
-------------------

[code]

Environment variables are only active while ssh is alive. E.g. opening a new terminal requires to set these variables again.

[2020-08-11 16:23] lee212 commented on #20
@daipayans and others, please collect profiling data (by enabling env vars) when you run experiments. I can produce plots and other data based on your session data with profiling information.

[2020-08-11 17:01] benjha commented on #20
@daipayans Let me know when the replica test at larger scale is ready, it will be good to compare the default EnTK  resource allocation  vs. the one delivered faster results:

https://github.com/radical-collaboration/MDFF-EnTK/issues/19

[2020-08-19 17:35] #8 closed, assigned to lee212

[2020-08-19 18:01] lee212 commented on #18
@daipayans , @ abhishek, I propose to close this for now but happy to reopen anytime when this is necessary.

[2020-08-19 18:01] #18 closed, assigned to daipayans

[2020-08-19 18:02] lee212 commented on #17
@daipayans , @ abhishek, I don't know what's our plan on this but I'd like to close this for now and to reopen anytime when this becomes important.

[2020-08-19 18:02] #17 closed, assigned to nobody

[2020-08-19 18:06] lee212 commented on #19
@benjha , just to share the update with SMT level, NVME and spectral, we are working on these now and SMT is now on with `devel` branch with this PR https://github.com/radical-cybertools/radical.pilot/pull/2198 merged.

NVMe will be added as an option in a resource config like SMT.

[2020-09-15 01:16] lee212 opened #21 "pika.exceptions.ConnectionClosed: failed: timeout"
Ben reported this issue on last Friday, the connection issue,:
[code]

This error produced with the Slate info:
[code]

While the slate service is unavailable, I recommend using the one we provided, (over the slack).

Luckily, my test run on today finished all stages as expected,:
[code]

[2020-09-15 01:19] lee212 commented on #21
@wilkinson, could you check if the db/rabbitmq service is running okay? I tried to use but got connection timed out error.

[2020-09-15 01:45] benjha commented on #21
@wilkinson,
Slate is enabled per project right ?, so if its disabled for BIP115,  can jobs running with BIP115 account  "see" those servers ?

@lee212 What project account were you  using that worked ? Is Slate enabled for that account ?

[2020-09-15 02:05] lee212 commented on #21
I ran a test with `csc393` and csc393 has a Slate account although there is no deployed service under the account. With my earlier experience with Slate, my runs were able to get access to the Slate outside of the project, if policy/rules remain same.

[2020-09-15 03:17] wilkinson commented on #21
@lee212, my non-EnTK demos on Summit that use MongoDB are not running tonight (timeout), but the RabbitMQ demos are running correctly on the login nodes, batch nodes, and compute nodes. I'm not sure why MongoDB is not running, though, because someone must have changed a cluster policy on Marble -- the web GUI says "You don't have access to this section due to cluster policy." I'll have to inquire

[2020-09-15 03:34] wilkinson commented on #21
I was wrong about the web GUI -- I had typed an incorrect URL, oops. The MongoDB pod is giving a "CrashLoopBackOff" error, but that isn't what this thread was about. Y'all were asking about RabbitMQ, which seems to be running correctly. I'm not sure what is wrong with MongoDB at the moment.

We should probably deploy this stuff under BIP115 so we can build in-place. When I debug on STF011, if I re

[2020-09-30 21:18] lee212 commented on #21
@wilkinson , if you could re-deploy mongodb, it would be helpful for me and others to run some tests. I think we can live with a new port number even if it changes.

[2020-12-16 17:47] lee212 commented on #21
With the mongodb deployed on other project, (not stf011), I don't have this connection issue anymore. I am closing this for now.

[2020-12-16 17:47] #21 closed, assigned to nobody

[2020-12-16 17:49] lee212 commented on #20
As I joined BIP115, I might be able to submit jobs for performance characterization.

[2020-12-16 17:55] lee212 commented on #19
For smt1 and NVME options, the radical.pilot needs a configuration:

        "system_architecture"         : {"smt": 1,
                                         "options": ["gpumps", "NVME"]}
    },

https://github.com/radical-cybertools/radical.pilot/blob/d90f8dd5268068c8834acf562ff87445499da8af/src/radical/pilot/configs/resource_ornl.json#L145-L147

[2020-12-17 02:48] lee212 opened #22 "Local testing protocol on Summit"
This is not an issue but a note to describe how to submit a test job using `debug` queue on Summit.

Code base on Summit
----------------------------

`$WORLDWORK/bip115/git/MDFF-EnTK`

Wrapper script to submit a job of vds
-----------------------------------------
`submit_debug_vds.sh`

STDOUT
---------
`ornl_summit_vds_debug.log`

Unit folders
---------------
[code]

Sharing results with pilot s

[2020-12-17 02:54] lee212 opened #23 "Week 1 Action items"
- [x] setup environment on `$WORLDWORK/bip115/conda/rct`
- [x] introduce `simple_mdff_vds.py`, branching `simple_mdff.py`
- [x] create a wrapper script for debugging/testing `submit_debug.sh`
- [x] complete 8 replicas
  - [x] `cfg/workflow_cfg.yml` has `ensemble_size` count to represent number of replicas
  - [x] `cfg/workflow_cfg.yml` has `total_iter` to represent number of iterations

[2020-12-19 04:46] lee212 opened #24 "Week 2 action items"
- [x] work on decision making analysis
  - [x] extract two numbers of initial and final frames from stdout
- [x] add restart to NAMD
  - [x] set **INPUTNAME** to `*.namd`
  - [x] ~~replace **PDBFILE**~~
  - [x] copy `*.vel` and `*coor` from top candidate
  - [x] skip pre-processing stages
- [x] start subsequent iteration with restart files from top candidate

[2020-12-19 04:48] lee212 commented on #23
notes on the recent changes:

- task name is mandatory to locate files by data staging, e.g.: https://github.com/radical-collaboration/MDFF-EnTK/blob/374a0df10f7eb60b9ee2445b49e434aaac95d609/simple_mdff_vds.py#L171
- `ensemble_size` represents a number of replicas: https://github.com/radical-collaboration/MDFF-EnTK/blob/ff1b0d9ef4c5e9cf11cb91f48d56cae0e36e03b5/cfg/workflow_cfg.yml#L2
- `total_iter

[2020-12-23 16:40] lee212 commented on #24
- `cc.dat` contains cross-correlation from the first and last frame
   https://github.com/radical-collaboration/MDFF-EnTK/blob/ff1b0d9ef4c5e9cf11cb91f48d56cae0e36e03b5/simple_mdff_vds.py#L321-L330

[2020-12-23 16:43] lee212 commented on #24
copy restart files to data staging area:
    https://github.com/radical-collaboration/MDFF-EnTK/blob/ff1b0d9ef4c5e9cf11cb91f48d56cae0e36e03b5/simple_mdff_vds.py#L353-L357

[2020-12-23 16:44] lee212 commented on #24
- implementing restart for subsequent NAMD runs from top candidate
   https://github.com/radical-collaboration/MDFF-EnTK/blob/ff1b0d9ef4c5e9cf11cb91f48d56cae0e36e03b5/simple_mdff_vds.py#L249-L264

[2020-12-23 19:17] lee212 opened #25 "Week 3 action items"
- [x] run 2 cycles (iterations) (reducing from 3)
- ~~[ ] run 256 replicas~~
- [x] produce improvement % across iterations
- [x] generate histogram of cross-corelation across replica for different iterations
- [x] run resolutions - 1.8, 3 and 5Å.
- [x] single run analysis - N ps compare with Niter * Nsteps

Meet in a week to discuss the progress.

[2020-12-23 19:19] lee212 commented on #23
Early result of 8 replicas with 3iterations for 1.8A:
https://github.com/radical-collaboration/MDFF-EnTK/tree/master/experiments/summit/simple_mdff_vds_8_replicas_1.8_restart_devel

[2020-12-29 06:06] lee212 commented on #25
Additional items after the discussion (3 pm-5 pm on 12/28/20)
- [x] Apply CUDA version of NAMD for better performance
- [ ] NAMD3.0 @jvant
- [x] Change entk job name
- [ ] Apply fault tolerance of failed tasks (ignore incomplete tasks)
- [x] Collect "Benchmark" lines from STDOUT for checking the performance
- [x] "gscale", "minsteps", and "numsteps" are defined in the yaml configuration file
- [x]

[2020-12-29 23:18] lee212 commented on #25
- [x] run 20 iterations with 5000 numsteps and 0 minsteps for the subsequent iterations
  - https://github.com/radical-collaboration/MDFF-EnTK/tree/master/experiments/summit/simple_mdff_vds_8_replicas_5angstrom_20iter_5k_numsteps/simple-mdff-replica-7

[2020-12-30 03:13] lee212 commented on #25
- job name goes into https://github.com/radical-collaboration/MDFF-EnTK/blob/75430ac54761dcbc9f48bf0e53628e1d744e2ffd/cfg/workflow_cfg.yml#L2

[2020-12-30 15:24] daipayans commented on #25
@lee212 What are the index labels 0 - 10 in the above path?

[2020-12-30 17:20] #23 closed, assigned to nobody

[2020-12-30 17:20] #24 closed, assigned to nobody

[2020-12-30 17:22] lee212 commented on #25
it is the iteration index, and 11 out of 20 iterations were finished in 1hr walltime.

[2020-12-30 17:29] daipayans commented on #25
I see. Examining the output, a question I have is why there is no `1.Calculating_the_cross-correlation_coefficient`? As I understand, the indexes should be in sequence, correct?

[2020-12-30 18:08] lee212 commented on #25
Hmm, there was a mistake for assigning index, it's currently in the 2.Calculating... but let me fix and push.

[2020-12-31 05:28] lee212 opened #26 "Week 4 action items"
- ~~[ ] NAMD 3.1~~
- [x] Pseudo plots

**> Continued plots in future week action items**

[2021-01-06 22:21] lee212 opened #27 "Week 5 action items"
- [x] Debugging the code block for `cc.dat` exchange @daipayans
- [x] Updated decision-making process, not to pick up the cc value worsened but keep current cc for the restart
  - [ ] ~~seeking 0.74 at 1.8 Å~~
- [ ] ~~proposed stop logic, e.g. seeing lower cc values in 1-2 runs continuosly~~
       - some cases values are rebound after a few more iterations

[2021-01-06 22:28] lee212 commented on #25
The script has been updated: https://github.com/radical-collaboration/MDFF-EnTK/blob/master/experiments/summit/simple_mdff_vds_8_replicas_5angstrom_20iter_5k_numsteps/make_readable_dir.sh

and the experiment results are also reflected,
- 1.8Å: https://github.com/radical-collaboration/MDFF-EnTK/tree/master/experiments/summit/simple_mdff_vds_8_replicas_1.8angstrom_20iter_5k_numsteps,
- 3Å: https://g

[2021-01-06 22:30] lee212 commented on #25
The benchmark shows:
 - Avg 167.98 ns/day in CUDA version
 - Avg 75.39 ns/day in CPU version
 - ipynb for these: https://github.com/radical-collaboration/MDFF-EnTK/blob/master/experiments/summit/MDFF-EnTK%20NAMD%20Benchmark.ipynb

[2021-01-06 22:36] lee212 commented on #25
first result with radical.analytics:
- resource utilization (x-axis: elapsed time, y-axis: cpu hw thread index): https://github.com/radical-collaboration/MDFF-EnTK/blob/master/experiments/summit/simple_mdff_vds_8_replicas_1.8angstrom_20iter_5k_numsteps/re.session.login1.hrlee.018632.0005_util.png
- concurrency for 8 replica: https://github.com/radical-collaboration/MDFF-EnTK/blob/master/experiment

[2021-01-06 22:55] lee212 commented on #26
Pseudo plots
- workflow diagram
- comparison between non-adaptive and adaptive version w.r.t. computation time

[2021-01-06 22:56] #22 closed, assigned to nobody

[2021-01-14 05:25] daipayans opened #28 "Week 6 action items"
Based on our meeting today, the following action items @lee212:
- [x] MDFF/EnTK test three resolutions -
        - [ ] 1.8 A
        - [ ] 3 A
        - [ ] 5 A
- [x] Postprocessing validation to check if highest CC is the starting point for different replica
- [x] ~~Only for **1.8 A  resolution**, submit parallel jobs only changing the **numsteps** in `workflow` - [5000 and 100000]. Note as numst

[2021-01-19 07:13] daipayans commented on #28
- ### Code to launch MDFF/EnTK has been modified and verified.
- 1.8 A jobs for different iterations (1, 2, 10, 20) at 100000 steps per iteration are complete.
- 1.8 A jobs for different iterations (1, 2, 10, 20) at 5000 steps per iteration are in progress.

[2021-01-19 07:30] daipayans commented on #28
For 20 iterations with 100000 steps per iteration, 1.8A map, **147/160** cc's were generated.
@lee212 what could be a possible reason that we can track on radical log file?

[2021-01-19 07:52] daipayans commented on #28
We need to tabulate stats of completed/submitted task? This will tell us what percentage of total job were completed by the scheduler. Is it already implemented or can we add this to the master log file for EnTK session? @lee212

[2021-01-19 17:51] lee212 commented on #28
This behavior is odd, I can start to look at the `vmd` executable and see if there is a way to resolve this.

STDOUT message prints out a message with stats of each task like
[code]
, so tabulating the results is possible as long as an executable produces an exit code correctly. If it generates `0` which means successfully finished although there is an intermediate error and I can suggest using `t

[2021-01-19 18:48] daipayans commented on #28
@lee212 This behavior is odd, I can start to look at the vmd executable and see if there is a way to resolve this.
 - The issue is not with VMD, I can assure you on that. This is because then it would be a problem across all replicas, which is not the case. The problem instead is `unit.????` tasks are not created. Hence, my money is on the communication between EnTK and scheduler. Does that make s

[2021-01-20 19:28] lee212 opened #29 "Week 7 action items"
- [X] recording replica index, iteration index (progress) in a separate file for each run

- [x] 8, 16, 32 and 100 replicas
- [x] try to increase walltime from 2hrs to 8hrs or 12hrs

[2021-01-20 19:37] mturilli commented on #29
I think we should record also the pipeline ID alongside the iteration index?

[2021-01-20 19:46] daipayans commented on #29
I agree @mturilli @lee212 then I have script to load everything as a data frame from mastertable. Thanks for your help.

[2021-01-24 19:25] daipayans commented on #29
**Update:**

For now we have a `bash` script (by @lee212) to convert entk `unit.sid` to `readable`.
`readable` has information about cross correlation first and last frames in`cc.dat` for every iteration index in each replica window.

We are using `killable` queue with a walltime of 8 hours. We have tested this for the case 8 replicas, 20 iterations per replica, 100000 MD steps per iteration for t

[2021-02-04 01:00] daipayans opened #30 "Week 8 action items"
Software:
- [x] Migrate MDFF/EnTK to XSEDE resource (Bridges2 -  preferably) @lee212 @mturilli
- [x] Performance analysis for the set of science runs @lee212

Science:
1.8 A - ADK
- [x] 16 ns x 1 replica
- [x] 10 ps/replica/iteration x 100 replicas x 16 iterations (on summit)
  - [ ] ~~alt. 20 ps/replica/iteration x 50 replicas x 16 iterations (on bridges2)~~
- [x] 160 ps/replica/iteration x 100 r

[2021-02-04 02:43] lee212 commented on #16
I am closing this for now because of inactivity, but willing to re-open.

[2021-02-04 02:43] #16 closed, assigned to lee212

[2021-02-04 02:44] lee212 commented on #19
I am closing this for now because of inactivity, but willing to re-open.

[2021-02-04 02:44] #19 closed, assigned to lee212, benjha

[2021-02-04 02:45] lee212 commented on #20
Recent experiments were completed with profiling data , thus this guideline can be closed for now.

[2021-02-04 02:45] #20 closed, assigned to daipayans

[2021-02-04 02:47] lee212 commented on #25
I am closing this as all tasks are complete

[2021-02-04 02:47] #25 closed, assigned to nobody

[2021-02-04 02:53] lee212 commented on #27
Items in wk5 are finished

[2021-02-04 02:53] #27 closed, assigned to nobody

[2021-02-04 02:54] lee212 commented on #28
I am closing this as all tasks are complete

[2021-02-04 02:54] #28 closed, assigned to nobody

[2021-02-04 02:59] lee212 commented on #29
post-processing has been updated, i.e.,
https://github.com/radical-collaboration/MDFF-EnTK/blob/master/experiments/summit/simple_mdff_vds_8_replicas_5angstrom_20iter_5k_numsteps/make_readable_dir.sh
Now, collecting cc.dat works for incomplete runs as well, which is fixing the issue raised in the previous meeting.

[2021-02-04 02:59] lee212 commented on #29
I am closing this for now as all tasks are finished

[2021-02-04 02:59] #29 closed, assigned to nobody

[2021-02-04 03:05] daipayans commented on #26
@lee212 Add this to workflow to week 8 and we can close this issue.

[2021-02-10 17:26] lee212 commented on #30
Bridges2 will be available on Feb 11th

[2021-02-16 22:19] lee212 commented on #30
first result with 16ns x 1 replica: https://github.com/radical-collaboration/MDFF-EnTK/tree/master/experiments/bridges2/simple_mdff_vds_1_replica_1.8angstrom_1iter_16000k_numsteps/simple-mdff-replica-0/0.Calculating_the_cross-correlation_coefficient

[2021-02-28 18:07] lee212 commented on #30
Status update: there are two problems that I've had; queue time and `gsissh` authentication timeout.
32 replica with 12hr jobs waited about 16-20 hours, and this triggers `gsissh` authentication revalidation. Under XSEDE machines, we use `gsissh` for rp's access_schema, and it's used to provide enough time window once the first auth is verified. This prevents getting results for the set of experim

[2021-03-08 16:32] lee212 commented on #30
Result for 500 ps/replica/iteration x 32 replicas x 1 iteration is added: https://github.com/radical-collaboration/MDFF-EnTK/tree/master/experiments/bridges2/simple_mdff_vds_32replica_1.8angstrom_1iter_500k_numsteps

and the ` 31.25 ps` has to be adjusted to `31.24` as to avoid `FATAL ERROR: number of steps must be a multiple of stepsPerCycle`

[2021-03-11 19:55] lee212 commented on #30
The first try on 32ps was finished, and only a few replicas were successful: https://github.com/radical-collaboration/MDFF-EnTK/tree/master/experiments/bridges2/simple_mdff_vds_32replica_1.8angstrom_16iter_32k_numsteps
Another job is submitted to see if it was temporal issue.

[2021-03-22 19:00] lee212 commented on #30
Note that 672 - 1008 node hours are projected on Bridges2, this is calculated by the remaining experiments with 12 hrs and 24 hrs wall hour requirements. In specific, 16 replicas * 12 hrs + 8 replicas * 12 hrs + 4 replicas * 12 hrs (in total of 336 hrs) and 24 hours (additional 672 hours).

[2021-04-06 00:44] lee212 commented on #30
-  10 ps/replica/iteration x 100 replicas x 16 iterations (on summit)
    https://github.com/radical-experiments/MDFF-EnTK/tree/main/experiments/summit/simple_mdff_vds_100_replicas_1.8angstrom_16iter_10ps

- 160 ps/replica/iteration x 100 replicas x 1 iteration (on summit)
    https://github.com/radical-experiments/MDFF-EnTK/tree/main/experiments/summit/simple_mdff_vds_100_replicas_1.8angstrom_1it

[2021-04-06 00:47] daipayans commented on #30
Many thanks @lee212 . I will start reviewing individual cases and prepare results.

[2021-04-06 13:04] daipayans commented on #30
@lee212 For our records and future discssions:

Summary for **bridges2** experiments:
`simple_mdff_vds_1replica_1.8angstrom_1iter_16000k_numsteps` - OK
`simple_mdff_vds_32replica_1.8angstrom_16iter_32k_numsteps` - OK (no directories for incomplete iteration tasks).
`simple_mdff_vds_32replica_1.8angstrom_1iter_500k_numsteps` - OK

Summary for **summit** experiments:
I cannot find the path to your s

[2021-04-06 13:09] #26 closed, assigned to nobody

[2021-04-07 20:41] lee212 commented on #30
Additional experiments with 1.8A
- 64 replica - 16 iteration - 20 ps
  https://github.com/radical-experiments/MDFF-EnTK/tree/main/experiments/summit/simple_mdff_vds_64_replicas_1.8angstrom_16iter_20ps
- 32 replica - 16 iteration - 40 ps
  https://github.com/radical-experiments/MDFF-EnTK/tree/main/experiments/summit/simple_mdff_vds_32_replicas_1.8angstrom_16iter_40ps

[2021-04-08 23:45] lee212 commented on #30
Additional experiments with 3.0A

* 100 replicas - 16 iteration - 10 ps (3.0A)
  https://github.com/radical-experiments/MDFF-EnTK/tree/main/experiments/summit/simple_mdff_vds_100_replicas_3.0angstrom_16iter_10ps
*  64 replica - 16 iteration - 20 ps (3.0A)
  n/a
* 32 replica - 16 iteration - 40 ps (3.0A)
  https://github.com/radical-experiments/MDFF-EnTK/tree/main/experiments/summit/simple_mdff_vds

[2021-05-12 19:51] lee212 opened #31 "2nd Week of May 2021"
We are currently exploring multiple dimensions: resolution, ensemble size, simulation length, HPC platforms. And we add one more, a system size.

Action items in this week:

1.  Complete existing jobs, to validate the efficiency of cross-correlation at 1.8A:
    - [x] 1.8 A, 64 replicas, 16 iterations per replica, 80ps
    - [x] 1.8 A, 100 replicas, 16 iterations per replica, 80ps
2. Prepare and r

[2021-05-14 20:10] lee212 commented on #31
1.8 A, 64 replicas, 16 iterations per replica, 80ps
 - https://github.com/radical-experiments/MDFF-EnTK/tree/main/experiments/summit/simple_mdff_vds_64_replicas_1.8angstrom_16iter_80ps

1.8 A, 100 replicas, 16 iterations per replica, 80ps
 -  https://github.com/radical-experiments/MDFF-EnTK/tree/main/experiments/summit/simple_mdff_vds_100_replicas_1.8angstrom_16iter_80ps

[2021-06-02 19:20] lee212 opened #32 "June 2021"
These are updated action items for this week:
Large ensemble members with fixed simulation length
- [ ] 200 and 80 ps each replica for 16 iterations with ADK
- [ ] 400

Adding error bars to Figure 2 (ovh for summit) and figure 3 (ovh for bridges2)
- [ ] two extra runs on 64 and 100 on summit

CODH (next week)
- [ ] 100
- [ ] 200

[2021-06-22 05:50] lee212 opened #33 "June 11th, 2021"
Community perspective
- [ ] tutorial with video showcase
- [ ] document
- [ ] modular analysis with TCL scripts by EnTK

Figures
- [ ] CODH Application figure
- [x] MDFF-EnTK benchmark

[2021-06-22 14:18] lee212 opened #34 "922 replica runs"
Requirements
- [ ] PMIx/PRRTE launcher instead of `jsrun` for 922 nodes runs
- [x] exclusive mode using EnTK's tagging and colocate

Related tickets
- https://github.com/radical-cybertools/radical.pilot/issues/2402

[2021-06-23 04:03] lee212 opened #35 "End of June, 2021"
- [x] workflow figure
- [x] other figures
- [x] codh 100 replicas
- [ ] writing in the next week (7/1-7/9)

[2021-06-30 22:18] lee212 commented on #35
- [x] Table for trajectories (with actual path that data stored on Summit)
https://github.com/radical-experiments/MDFF-EnTK/blob/main/experiments/summit/README.md
[code]

[2021-07-09 06:26] lee212 commented on #35
Fig 5 is ready on 7/7

[2021-07-09 06:28] lee212 commented on #35
CODH runs for 100 replicas are partially complete, 10/16 iters finished:
- 1.8Angstrom, 80ps, 100replicas: https://github.com/radical-experiments/MDFF-EnTK/tree/main/experiments/summit/partial_simple_mdff_vds_codh_100_replicas_1.8angstrom_16iter_80ps
- 3.0angstrom, 80ps, 100replicas: https://github.com/radical-experiments/MDFF-EnTK/tree/main/experiments/summit/partial_simple_mdff_vds_codh_100_repl

[2021-07-09 15:44] lee212 commented on #35
jupyter notebook for fig 7: https://github.com/radical-experiments/MDFF-EnTK/blob/main/ipynb/mdff-radical.analytics.ipynb

[2021-08-19 18:12] lee212 opened #36 "NAMD/VMD compilation on RHEL8"
Hi @benjha ,

I have been using these binaries on Summit:

[code]

It probably has to recompile on RHEL8, may I ask your help regarding this matter?

[2021-08-19 22:34] benjha commented on #36
Definitely we need to recompile.

Josh Vermaas put together instructions for NAMD in the next link:

https://github.com/jvermaas/Software-Building-Instructions/blob/main/NAMD.md

It is quite straightfoward to compile NAMD. Can you try ?

Meanwhile I'll focus on VMD.

[2021-08-19 23:47] lee212 commented on #36
Thanks, @benjha. I will try to build NAMD!

[2021-08-26 19:45] lee212 commented on #36
@benjha, I can't find `fftw` module, should I ignore it?

[2021-08-26 19:56] lee212 commented on #36
Ah, my bad, I can load it with spectrum-mpi.

[2021-08-26 20:27] daipayans commented on #36
I can help here, if required. Also, I can ask Josh to build it as I work in
his lab now. Let me know.
-Daipayan

On Thu, Aug 26, 2021 at 3:56 PM Hyungro Lee ***@***.***>
wrote:

[2021-08-26 20:34] lee212 commented on #36
I was compiling NAMD,
[code]

[2021-08-26 21:35] benjha commented on #36
Explanation and fix of the error:
https://github.com/LLNL/blt/issues/341#issuecomment-590879658

@daipayans  Should NAMD still use cuda 10 or can use cuda 11 ?

[2021-08-26 22:03] benjha commented on #36
I could compile NAMD 2.4 with the next script:
[code]

this script needs access to NAMD's gitlab repo. and patches `Linux-POWER.cuda` by adding `-Xcompiler -mno-float128` flags to `nvcc`

After compilation binaries are in `NAMDbuild/namd/Linux-POWER-g++.summit214` directory

[2021-08-27 17:09] lee212 commented on #36
Thanks @benjha ! Where can I find your binaries? I can try to replicate your instructions as well.

Do you happen to have VMD compiled or instructions to share? I still need 1.9.3 for the workflow.

[2021-08-27 18:00] lee212 commented on #36
VMD installation, https://www.ks.uiuc.edu/Research/vmd/current/ig.pdf is what I find from online

[2021-08-30 15:05] benjha commented on #36
I am getting ready NAMD and VMD modules

[2021-08-31 15:10] benjha commented on #36
Hi @lee212,
These are the instructions to load NAMD 2.14 and VMD 1.9.3

NAMD only
[code]

VMD only:

[code]

both

[code]

let me know if there is any issue.

[2021-08-31 15:26] daipayans commented on #36
Hi Ben, Hyungro,
Many thanks for doing this.
- Daipayan

On Tue, Aug 31, 2021 at 11:10 AM Benjamín Hernández <
***@***.***> wrote:

[2021-08-31 15:54] lee212 commented on #36
@benjha , many thanks for building the modules!!

i will spin up the runs with these new modules. Thank you again.

Btw are they compiled with spectrum-mpi? I also need to have them compiled with openmpi because of the pmix prrte launcher for large task runs. May i have your thoughts on this?

[2021-09-01 14:27] benjha commented on #36
Hi @lee212,

Both are compiled with SMPI-PAMI. For VMD should be straightforward. For NAMD, I need to check CHARM++ flags to link with openMPI. Will you need NAMD's CPU version too ?

Were the "large task runs" not possible before ? pre-Redhat 8, NAMD was compiled always with SMPI and PAMI.

[2021-09-09 21:34] lee212 commented on #36
Hi @benjha ,

- I will have to use the CUDA version of NAMD with openmpi for achieving equivalent performance, and there is no need to have a CPU version.
- the large task runs is about 922 replica and I used NAMD/JSRUN before up to 400 on pre-Redhat 8.

Quick update, I was able to use these new modules for MDFF-EnTK jobs and NAMD/VMD worked as expected. thanks again for these modules.

[2021-09-09 21:40] benjha commented on #36
Great,

I'll compile NAMD with CUDA/OpenMPI then. We may need to tune some UCX environment variables (if not set by Summit's OpenMPI module) to get the most of it.

[2021-09-16 15:24] benjha commented on #36
After Sep 14/15 Summit maintenance, looks like openmpi is not explicitly visible  as a module. Investigating...

@lee212

I am asking some questions to the support team, and I'd like to clarify some things:

OpenMPI is needed for comparison vs SpectrumMPI and/or SpectrumMPI does not scale  beyond 400 replicas ?

If it is a scalability issue what's the reasoning/evidence  OpenMPI will scale ?

[2021-09-17 16:40] lee212 commented on #36
It is a scalability issue with `jsrun` launch command we use, from my observation, it was failing to initiate after 200+ nodes. So I was trying to switch to `prun` as prrte module allows to use a larger set of nodes but it requires a task executable compiled by OpenMPI. This is based on our discussion here: https://github.com/radical-cybertools/radical.pilot/issues/2402#issuecomment-877651564 Let

[2021-09-20 20:34] lee212 commented on #36
Let me respond here as the discussion (PR) is closed now.

The openmpi module on summit can be loaded like:
[code]
according to this: https://github.com/radical-cybertools/radical.pilot/blob/devel/src/radical/pilot/configs/resource_ornl.json#L115-L121

@mtitov can confirm if this is incorrect.

Also, I will make sure that darshan, hsi and xalt modules are unloaded in the MDFF workflow. thanks for

[2021-09-20 20:40] benjha commented on #36
Note `/sw/summit/ums/ompix/gcc/9.1.0/modules/openmpi` is empty and `prrte/2.0.0` loads only prrte related configuration

[2021-09-20 21:16] lee212 commented on #36
@mtitov , could you confirm?

[2021-12-04 04:51] #30 closed, assigned to nobody

[2021-12-04 04:56] lee212 commented on #31
other runs with different resolutions: https://github.com/radical-experiments/MDFF-EnTK/tree/main/experiments/summit
including CODH runs as well

[2021-12-04 04:56] #31 closed, assigned to nobody

[2021-12-04 04:57] #32 closed, assigned to nobody

[2021-12-04 05:07] #35 closed, assigned to nobody